   

   {% if view_type == 'axe' %}

        {% regroup marches by axe as axe_list %}

        {% for axe_group in axe_list %}
        
            <div class="axe-header">
                <span>
                    <i class="bi bi-geo-alt"></i>
                    <strong>{{ axe_group.grouper.designation }}</strong>
                </span>
                {% if user.is_superuser or is_chef_axe %}
                <div class="edit-controls">
                    <a href="{% url 'axe_update' axe_group.grouper.pk %}" 
                    class="btn btn-xs btn-light py-0 px-2" 
                    style="font-size:11px;">
                        <i class="bi bi-gear"></i> Configurer
                    </a>
                </div>
                {% endif %}
            </div>

            <div class="table-responsive table-container">

                {% include "reporting/affich_part/tableau_marche.html" with marches_list=axe_group.list %}

            </div>

        {% endfor %}
    {% endif %}